<main class="d-flex">
  <!-- Sidebar with Photo, Navigation, and Contacts -->
  <nav class="sidebar bg-body-tertiary d-flex flex-column align-items-center">
      <!-- Personal Photo -->
      <div class="profile-photo my-4">
          <img src="images/NiccoloPuccinelli.jpg" class="rounded-3 shadow" alt="Portrait of Niccolò Puccinelli" width="150">
      </div>

      <!-- Navigation Links -->
      <div class="navbar-nav flex-column w-100 text-center">
          <a href="/" class="nav-link active">Home</a>
          <a href="research.html" class="nav-link">Research</a>
          <a href="publications.html" class="nav-link">Publications</a>
          <a href="teaching.html" class="nav-link">Teaching</a>
          <a href="cv.html" class="nav-link">CV</a>
          <a href="contacts.html" class="nav-link">Contacts</a>
      </div>

      <!-- Contact Links -->
      <div class="contact-links mt-5 d-flex justify-content-center">
          <a class="nav-link" href="mailto:niccolo.puccinelli@usi.ch"><i class="fa-regular fa-envelope"></i></a>
          <a class="nav-link" href="https://scholar.google.com/citations?user=FFLWUzoAAAAJ&hl=en" target="_blank"><i class="fa-brands fa-google-scholar"></i></a>
          <a class="nav-link" href="https://github.com/NiccoloPuccinelli" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a class="nav-link" href="https://www.linkedin.com/in/niccol%C3%B2-puccinelli-b1ba2a232/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a class="nav-link" href="https://orcid.org/0009-0006-6859-8012" target="_blank"><i class="fa-brands fa-orcid"></i></a>
      </div>
  </nav>
</main>
